function Board.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 10
push constant 21
call Matrix2D.new 2
pop this 0
push pointer 0
return
function Board.set 0
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
push argument 3
call Matrix2D.set 4
pop temp 0
push constant 0
return
function Board.get 1
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
call Matrix2D.get 3
pop local 0
push local 0
return
function Board.checkLines 7
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 20
pop local 1
push constant 0
pop local 5
label Label_0
push local 1
push constant 0
gt
not
if-goto Label_1
push constant 0
pop local 2
label Label_2
push local 0
push constant 10
lt
not
if-goto Label_3
push local 5
push constant 0
gt
not
if-goto Label_4
push this 0
push local 0
push local 1
call Matrix2D.get 3
pop local 6
push this 0
push local 0
push local 1
push local 5
add
push local 6
call Matrix2D.set 4
pop temp 0
push this 0
push local 0
push local 1
push constant 0
call Matrix2D.set 4
pop temp 0
goto Label_5
label Label_4
label Label_5
push this 0
push local 0
push local 1
call Matrix2D.get 3
push constant 1
eq
not
if-goto Label_6
push local 2
push constant 1
add
pop local 2
goto Label_7
label Label_6
label Label_7
push local 0
push constant 1
add
pop local 0
goto Label_2
label Label_3
push local 2
push constant 10
eq
not
if-goto Label_8
push local 5
push constant 1
add
pop local 5
push constant 0
pop local 0
label Label_10
push local 0
push constant 10
lt
not
if-goto Label_11
push this 0
push local 0
push local 1
push constant 0
call Matrix2D.set 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Label_10
label Label_11
goto Label_9
label Label_8
label Label_9
push constant 0
pop local 0
push local 1
push constant 1
sub
pop local 1
goto Label_0
label Label_1
push local 5
return
function Board.flush 5
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label Label_12
push local 0
push constant 10
lt
not
if-goto Label_13
label Label_14
push local 1
push constant 21
lt
not
if-goto Label_15
push this 0
push local 0
push local 1
call Matrix2D.get 3
pop local 2
push local 2
push constant 1
eq
not
if-goto Label_16
push constant 16
push local 0
add
push constant 12
call Math.multiply 2
pop local 3
push local 1
push constant 12
call Math.multiply 2
pop local 4
push local 3
push local 4
push local 3
push constant 11
add
push local 4
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
goto Label_17
label Label_16
label Label_17
push local 1
push constant 1
add
pop local 1
goto Label_14
label Label_15
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto Label_12
label Label_13
push constant 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push this 0
call Matrix2D.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return