function GameController.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
call PRNG.new 0
pop this 0
call Board.new 0
pop this 1
push pointer 0
call GameController.genNewPiece 1
pop this 2
push this 0
call PRNG.next 1
pop temp 0
push this 0
call PRNG.next 1
pop temp 0
push this 0
call PRNG.next 1
pop temp 0
push pointer 0
call GameController.genNewPiece 1
pop this 3
push pointer 0
return
function GameController.run 12
push argument 0
pop pointer 0
push constant 0
pop local 9
push constant 400
pop local 10
push constant 11
call String.new 1
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
pop local 0
push constant 4
call String.new 1
push constant 82
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 58
call String.appendChar 2
pop local 1
push constant 6
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
pop local 2
push constant 6
call String.new 1
push constant 83
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 58
call String.appendChar 2
pop local 3
label Label_0
push constant 1
neg
not
if-goto Label_1
push constant 0
pop local 7
push constant 0
pop local 5
push constant 1
pop local 6
push local 10
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 4
push local 4
push constant 65
eq
not
if-goto Label_2
push this 2
call Piece.rotateLeft 1
pop temp 0
push this 2
push this 1
call Piece.collisionCheck 2
pop local 7
push local 7
push constant 0
gt
not
if-goto Label_4
push this 2
call Piece.rotateRight 1
pop temp 0
goto Label_5
label Label_4
label Label_5
goto Label_3
label Label_2
label Label_3
push local 4
push constant 68
eq
not
if-goto Label_6
push this 2
call Piece.rotateRight 1
pop temp 0
push this 2
push this 1
call Piece.collisionCheck 2
pop local 7
push local 7
push constant 0
gt
not
if-goto Label_8
push this 2
call Piece.rotateLeft 1
pop temp 0
goto Label_9
label Label_8
label Label_9
goto Label_7
label Label_6
label Label_7
push constant 0
pop local 7
push local 4
push constant 133
eq
not
if-goto Label_10
push local 6
push constant 1
add
pop local 6
goto Label_11
label Label_10
label Label_11
push local 4
push constant 130
eq
not
if-goto Label_12
push local 5
push constant 1
sub
pop local 5
goto Label_13
label Label_12
label Label_13
push local 4
push constant 132
eq
not
if-goto Label_14
push local 5
push constant 1
add
pop local 5
goto Label_15
label Label_14
label Label_15
push this 2
push local 5
call Piece.moveX 2
pop temp 0
push this 2
push this 1
call Piece.collisionCheck 2
push constant 0
gt
not
if-goto Label_16
push this 2
push local 5
neg
call Piece.moveX 2
pop temp 0
goto Label_17
label Label_16
label Label_17
push this 2
push local 6
call Piece.moveY 2
pop local 8
push local 7
push local 8
add
pop local 7
push local 7
push this 2
push this 1
call Piece.collisionCheck 2
add
pop local 7
push local 7
push constant 0
gt
not
if-goto Label_18
push local 7
push local 8
gt
not
if-goto Label_20
push this 2
push local 6
neg
call Piece.moveY 2
pop temp 0
goto Label_21
label Label_20
label Label_21
push this 2
push this 1
call Piece.integrate_piece_in_board 2
pop temp 0
push this 3
pop this 2
push pointer 0
call GameController.genNewPiece 1
pop this 3
goto Label_19
label Label_18
label Label_19
push pointer 0
call GameController.flush 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 7
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push this 0
call PRNG.get 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 3
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 10
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push local 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 9
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push this 0
call PRNG.next 1
pop temp 0
push this 1
call Board.checkLines 1
pop local 11
push local 11
push constant 1
eq
not
if-goto Label_22
push constant 400
push local 10
call Math.divide 2
pop local 11
push local 9
push local 11
add
pop local 9
push local 10
push local 11
push constant 2
call Math.divide 2
push constant 1
add
sub
pop local 10
goto Label_23
label Label_22
label Label_23
push local 11
push constant 2
eq
not
if-goto Label_24
push constant 1000
push local 10
call Math.divide 2
pop local 11
push local 9
push local 11
add
pop local 9
push local 10
push local 11
push constant 2
call Math.divide 2
sub
pop local 10
goto Label_25
label Label_24
label Label_25
push local 11
push constant 3
eq
not
if-goto Label_26
push constant 3000
push local 10
call Math.divide 2
pop local 11
push local 9
push local 11
add
pop local 9
push local 10
push local 11
push constant 2
call Math.divide 2
sub
pop local 10
goto Label_27
label Label_26
label Label_27
push local 11
push constant 4
eq
not
if-goto Label_28
push constant 12000
push local 10
call Math.divide 2
pop local 11
push local 9
push local 11
add
pop local 9
push local 10
push local 11
push constant 2
call Math.divide 2
sub
pop local 10
goto Label_29
label Label_28
label Label_29
goto Label_0
label Label_1
push constant 0
return
function GameController.genNewPiece 2
push argument 0
pop pointer 0
push this 0
call PRNG.get 1
push constant 7
call PRNG.mod 2
pop local 0
push local 0
call Piece.new 1
pop local 1
push local 1
return
function GameController.flush 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push this 1
call Board.flush 1
pop temp 0
push this 2
call Piece.flush 1
pop temp 0
push this 3
call Piece.flush_next 1
pop temp 0
push constant 188
push constant 0
push constant 188
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 316
push constant 0
push constant 316
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 100
push constant 400
push constant 160
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 100
push constant 460
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 160
push constant 460
push constant 160
call Screen.drawLine 4
pop temp 0
push constant 460
push constant 100
push constant 460
push constant 160
call Screen.drawLine 4
pop temp 0
push constant 0
return
function GameController.dispose 0
push argument 0
pop pointer 0
push this 0
call PRNG.dispose 1
pop temp 0
push this 1
call Board.dispose 1
pop temp 0
push this 2
call Piece.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return