function Piece.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto Label_0
push constant 4
pop this 1
push constant 1
pop this 2
push this 1
push this 2
call Matrix2D.new 2
pop this 0
push this 0
push constant 0
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 2
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 3
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
goto Label_1
label Label_0
label Label_1
push argument 0
push constant 1
eq
not
if-goto Label_2
push constant 3
pop this 1
push constant 2
pop this 2
push this 1
push this 2
call Matrix2D.new 2
pop this 0
push this 0
push constant 0
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 0
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 2
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
goto Label_3
label Label_2
label Label_3
push argument 0
push constant 2
eq
not
if-goto Label_4
push constant 3
pop this 1
push constant 2
pop this 2
push this 1
push this 2
call Matrix2D.new 2
pop this 0
push this 0
push constant 0
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 2
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 2
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
goto Label_5
label Label_4
label Label_5
push argument 0
push constant 3
eq
not
if-goto Label_6
push constant 2
pop this 1
push constant 2
pop this 2
push this 1
push this 2
call Matrix2D.new 2
pop this 0
push this 0
push constant 0
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 0
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
goto Label_7
label Label_6
label Label_7
push argument 0
push constant 4
eq
not
if-goto Label_8
push constant 3
pop this 1
push constant 2
pop this 2
push this 1
push this 2
call Matrix2D.new 2
pop this 0
push this 0
push constant 0
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 2
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
goto Label_9
label Label_8
label Label_9
push argument 0
push constant 5
eq
not
if-goto Label_10
push constant 3
pop this 1
push constant 2
pop this 2
push this 1
push this 2
call Matrix2D.new 2
pop this 0
push this 0
push constant 0
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 2
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
goto Label_11
label Label_10
label Label_11
push argument 0
push constant 6
eq
not
if-goto Label_12
push constant 3
pop this 1
push constant 2
pop this 2
push this 1
push this 2
call Matrix2D.new 2
pop this 0
push this 0
push constant 0
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 0
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 1
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
push this 0
push constant 2
push constant 1
push constant 1
call Matrix2D.set 4
pop temp 0
goto Label_13
label Label_12
label Label_13
push constant 4
pop this 3
push constant 0
pop this 4
push pointer 0
return
function Piece.getX 0
push argument 0
pop pointer 0
push this 3
return
function Piece.getY 0
push argument 0
pop pointer 0
push this 4
return
function Piece.getSizeX 0
push argument 0
pop pointer 0
push this 1
return
function Piece.getSizeY 0
push argument 0
pop pointer 0
push this 2
return
function Piece.getShape 0
push argument 0
pop pointer 0
push this 0
return
function Piece.moveX 0
push argument 0
pop pointer 0
push this 3
push argument 1
add
pop this 3
push this 3
push constant 0
lt
not
if-goto Label_14
push constant 0
pop this 3
goto Label_15
label Label_14
label Label_15
push this 3
push this 1
add
push constant 10
gt
not
if-goto Label_16
push constant 10
push this 1
sub
pop this 3
goto Label_17
label Label_16
label Label_17
push constant 0
return
function Piece.moveY 0
push argument 0
pop pointer 0
push this 4
push argument 1
add
pop this 4
push this 4
push this 2
add
push constant 21
gt
not
if-goto Label_18
push constant 21
push this 2
sub
pop this 4
push constant 1
return
goto Label_19
label Label_18
label Label_19
push this 4
push this 2
add
push constant 21
eq
not
if-goto Label_20
push constant 21
push this 2
sub
pop this 4
push constant 1
return
goto Label_21
label Label_20
label Label_21
push constant 0
return
function Piece.rotateRight 6
push argument 0
pop pointer 0
push this 2
push this 1
call Matrix2D.new 2
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label Label_22
push local 1
push this 1
lt
not
if-goto Label_23
label Label_24
push local 2
push this 2
lt
not
if-goto Label_25
push this 0
push local 1
push local 2
call Matrix2D.get 3
pop local 5
push local 0
push local 2
push local 1
push local 5
call Matrix2D.set 4
pop temp 0
push local 2
push constant 1
add
pop local 2
goto Label_24
label Label_25
push constant 0
pop local 2
push local 1
push constant 1
add
pop local 1
goto Label_22
label Label_23
push this 1
pop local 3
push this 2
pop this 1
push local 3
pop this 2
push local 0
pop this 0
push this 1
push this 2
call Matrix2D.new 2
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label Label_26
push local 1
push this 1
lt
not
if-goto Label_27
label Label_28
push local 2
push this 2
lt
not
if-goto Label_29
push this 0
push local 1
push local 2
call Matrix2D.get 3
pop local 5
push this 1
push constant 1
sub
push local 1
sub
pop local 4
push local 0
push local 4
push local 2
push local 5
call Matrix2D.set 4
pop temp 0
push local 2
push constant 1
add
pop local 2
goto Label_28
label Label_29
push constant 0
pop local 2
push local 1
push constant 1
add
pop local 1
goto Label_26
label Label_27
push local 0
pop this 0
push constant 0
return
function Piece.rotateLeft 6
push argument 0
pop pointer 0
push this 2
push this 1
call Matrix2D.new 2
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label Label_30
push local 1
push this 1
lt
not
if-goto Label_31
label Label_32
push local 2
push this 2
lt
not
if-goto Label_33
push this 0
push local 1
push local 2
call Matrix2D.get 3
pop local 5
push local 0
push local 2
push local 1
push local 5
call Matrix2D.set 4
pop temp 0
push local 2
push constant 1
add
pop local 2
goto Label_32
label Label_33
push constant 0
pop local 2
push local 1
push constant 1
add
pop local 1
goto Label_30
label Label_31
push this 1
pop local 3
push this 2
pop this 1
push local 3
pop this 2
push local 0
pop this 0
push this 1
push this 2
call Matrix2D.new 2
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label Label_34
push local 1
push this 1
lt
not
if-goto Label_35
label Label_36
push local 2
push this 2
lt
not
if-goto Label_37
push this 0
push local 1
push local 2
call Matrix2D.get 3
pop local 5
push this 2
push constant 1
sub
push local 2
sub
pop local 4
push local 0
push local 1
push local 4
push local 5
call Matrix2D.set 4
pop temp 0
push local 2
push constant 1
add
pop local 2
goto Label_36
label Label_37
push constant 0
pop local 2
push local 1
push constant 1
add
pop local 1
goto Label_34
label Label_35
push local 0
pop this 0
push constant 0
return
function Piece.flush 5
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label Label_38
push local 0
push this 1
lt
not
if-goto Label_39
label Label_40
push local 1
push this 2
lt
not
if-goto Label_41
push this 0
push local 0
push local 1
call Matrix2D.get 3
pop local 2
push local 2
push constant 1
eq
not
if-goto Label_42
push constant 16
push this 3
add
push local 0
add
push constant 12
call Math.multiply 2
pop local 3
push this 4
push local 1
add
push constant 12
call Math.multiply 2
pop local 4
push local 3
push local 4
push local 3
push constant 11
add
push local 4
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
goto Label_43
label Label_42
label Label_43
push local 1
push constant 1
add
pop local 1
goto Label_40
label Label_41
call Output.println 0
pop temp 0
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto Label_38
label Label_39
push constant 0
return
function Piece.flush_next 5
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label Label_44
push local 0
push this 1
lt
not
if-goto Label_45
label Label_46
push local 1
push this 2
lt
not
if-goto Label_47
push this 0
push local 0
push local 1
call Matrix2D.get 3
pop local 2
push local 2
push constant 1
eq
not
if-goto Label_48
push constant 30
push this 3
add
push local 0
add
push constant 12
call Math.multiply 2
pop local 3
push constant 10
push local 1
add
push constant 12
call Math.multiply 2
pop local 4
push local 3
push local 4
push local 3
push constant 11
add
push local 4
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
goto Label_49
label Label_48
label Label_49
push local 1
push constant 1
add
pop local 1
goto Label_46
label Label_47
call Output.println 0
pop temp 0
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto Label_44
label Label_45
push constant 0
return
function Piece.collisionCheck 5
push argument 0
pop pointer 0
push constant 0
pop local 2
label Label_50
push local 0
push this 1
lt
not
if-goto Label_51
label Label_52
push local 1
push this 2
lt
not
if-goto Label_53
push this 0
push local 0
push local 1
call Matrix2D.get 3
pop local 4
push local 4
push constant 1
eq
not
if-goto Label_54
push argument 1
push this 3
push local 0
add
push this 4
push local 1
add
call Board.get 3
pop local 3
push local 3
push constant 1
eq
not
if-goto Label_56
push local 2
push constant 1
add
pop local 2
goto Label_57
label Label_56
label Label_57
goto Label_55
label Label_54
label Label_55
push local 1
push constant 1
add
pop local 1
goto Label_52
label Label_53
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto Label_50
label Label_51
push local 2
return
function Piece.integrate_piece_in_board 5
push argument 0
pop pointer 0
push constant 0
pop local 2
label Label_58
push local 0
push this 1
lt
not
if-goto Label_59
label Label_60
push local 1
push this 2
lt
not
if-goto Label_61
push this 0
push local 0
push local 1
call Matrix2D.get 3
pop local 4
push local 4
push constant 1
eq
not
if-goto Label_62
push argument 1
push this 3
push local 0
add
push this 4
push local 1
add
push constant 1
call Board.set 4
pop temp 0
goto Label_63
label Label_62
label Label_63
push local 1
push constant 1
add
pop local 1
goto Label_60
label Label_61
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto Label_58
label Label_59
push constant 0
return
function Piece.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return