function PRNG.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 16067
pop this 0
push constant 502
pop this 1
push this 0
push this 1
call Math.divide 2
pop this 2
push this 0
push this 1
call PRNG.mod 2
pop this 3
push constant 2458
pop this 4
push pointer 0
return
function PRNG.get 0
push argument 0
pop pointer 0
push this 4
return
function PRNG.next 5
push argument 0
pop pointer 0
push this 4
push this 2
call Math.divide 2
pop local 0
push this 4
push this 2
call PRNG.mod 2
pop local 1
push local 1
push this 1
call Math.multiply 2
pop local 2
push local 0
push this 3
call Math.multiply 2
pop local 3
push local 2
push local 3
sub
pop local 4
push local 4
push constant 0
lt
not
if-goto Label_0
push local 4
push this 0
add
pop local 4
goto Label_1
label Label_0
label Label_1
push local 4
pop this 4
push this 4
return
function PRNG.mod 3
push argument 0
push argument 1
call Math.divide 2
pop local 2
push argument 1
push local 2
call Math.multiply 2
pop local 1
push argument 0
push local 1
sub
pop local 0
push local 0
return
function PRNG.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return